<% provide(:title, 'Love Cave') %>
<div class="center hero-unit">
	<h1>Welcome to Love Cave</h1>
	<h1>ou</h1>
	<h1>Ben and Jing!</h1>
	<h2>This is a website built up to witness our eternal love.</h2>
	<div class="center">
		<img src="/assets/jb1.jpg", id= "jb1">
	</div>
	<%= link_to "Join My Love!", signup_path, class: "btn btn-large btn-primary", id: "btn"%>
</div>

