<footer class="footer">
	<small>
		<a href="http://google.com">Confused by anything?</a>
		by Ben Niu
	</small>
	<nav>
		<ul>
			<li><%= link_to "Help", help_path %></li>
			<li><%= link_to "Memories", memories_path %></li>
		</ul>
	</nav>
</footer>